.recipe-thumbnail:hover  .recipe-title {
    /* bottom: 25%; */
    /* right: 25%; */
    font-size: large;
    padding: 1rem;
    background: #000A;
}

.recipe-list {
    scrollbar-width: 0;
}

::-webkit-scrollbar {
    display: none;
}